<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    
    <!-- security other urls usage -->
    
    <!-- end -->

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tac+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/cart.css">

    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tac+One&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="icon" href="./images/food4unique.png" type="image/x-icon" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script type="text/javascript"
      src="https://app.midtrans.com/snap/snap.js"
      data-client-key="<%= client_key %>"></script>
    <title>FOOD4UNIQUE - MY CART</title>
</head>

<body>

<%- include("loader.ejs") %>


<div class="home hide">
    <div class="success" style="position: fixed;"></div>
    <div class="error" style="position: fixed;"></div>
<header class="offcanvas-menu">
        <input type="checkbox" id="toogle-menu" />
    
        <label for="toogle-menu" class="toogle-open"><span></span></label>
    
        <%- include("nav.ejs") %>
</header>

<div id="cart_page" class="container">
    <div class="row">

        <% if(products.length === 0) { %>
           <div style="width: 100vw;height: 100vh;" class="container>
               <div class="row" style="width: 100%;height: 100%;">
                   <div style="display: flex;justify-content: center;align-items: center;flex-direction: column;height: 100%;width: 100%;" class="col-md-12">
                       <img style="width: auto;height: auto;object-fit: cover;" src="./images/cart_empty.gif" alt="">
                       <a data-lang="cart_1" class="mt-5" style="font-size: 25px;color: #000;" href="/food">Explore & Add To Cart</a>
                   </div>
               </div>
           </div>
        <% }else{ %>

            <% for(let i = 0; i < products.length; i++) { %>

                <input id="products" value="<%= products %>"hidden type="text">
            
                <div class="col-md-12 mt-5" style="display:flex;justify-content: space-between;align-items: center;border-bottom: 1px solid gray;">
                    <div style="display: flex;flex-direction: column;justify-content: center;">
    
                        
    
                        <img style="width: 200px;height: 200px;object-fit: contain;" src="<%= products[i].food.images[0] %>" alt="">
    
                        <div style="display: flex;justify-content: center;flex-direction: column;font-size: 20px;margin-top: 15px;margin-bottom: 10px;gap: 20px; width: auto; ">
                            <p><%= products[i].food.name %></p>
                            <p><%= products[i].food.price %></p>

                            <p style="color: #fff;background-color: #000;padding: 4px;text-align: center;">qty:<%= products[i].qty %></p>
    
                            <p data-lang="cart_50">TOTAL: </p>
                            <h1><%= Number(products[i].food.price) * Number(products[i].qty) %></h1>
                        </div>
                        <div id="update_qty_container" class="d-flex mb-5">
                            <input 
                            style="outline: none;border-top: none;border-left: none;border-right: none;border-bottom: 1px solid #000;font-size: 20px;"
                            placeholder="quantity" id="update_qty" type="number" min="1">
                        <button 
                        data-lang="cart_2"
                        data-food-id="<%= products[i].food._id %>"
                        id="update_item"
                        style="padding: 10px;outline: none;border: none;font-size: 20px;"
                        class="mt-3">update</button>
    
    
                        </div>
                        <button data-lang="cart_3" data-food-id="<%= products[i].food._id %>" id="remove_item" style="padding: 10px;outline: none;border: none;background-color: red;color: #fff;font-size: 20px;">Remove From Cart</button>
                    </div>
    
                 
                    
                    
    
                   
                </div>
        
            <% } %>

            <div style="display: flex;justify-content: space-between;margin-top: 10px;" class="summery">
                <h1 data-lang="cart_4">TOTAL ORDER PRICE</h1>
                <h1><%= total %></h1>
            </div>
        
            <div class="container">
                <div class="row">
                    <div class="col-md-12" style="display: flex;justify-content: center;width: 100vw;margin-top: 10px;">
                        <button data-lang="cart_5" id="order_btn" style="color: #fff;background-color: #000;padding: 10px;width: 80%;font-size: 20px;">Order Now</button>
                    </div>
                </div>
            </div>


        <% } %>

       
    </div>


    
    

</div>

<div style="display: none;" id="order_page">
    <div class="" style="display: flex;justify-content: space-around;width: 100%;margin-top: 20px;">
        <h1 style="font-size: 30px;">TOTAL: <%= total %></h1>
        <input id="amount" type="text" hidden value="<%= total %>" >
        <span data-lang="cart_6" id="back-to-cart" style="font-size: 20px;cursor: pointer;">Back To Cart</span>
    </div>
    <!-- form for order details -->
    <div class="container">
        <div class="row">
            <form class="col-md-12">
                
                <label data-lang="cart_7" for="name">This Ordered By (Confirm Your Name)?</label>
                <input type="text" name="" id="order_name">

                <!-- <label data-lang="cart_8" for="email"> Email (Email To Inform You About Your Order)?</label>
                
                <input type="email" name="" id="order_email"> -->

                <label data-lang="cart_9" for="phone"> Phone Number (Phone Number To Inform You About Your Order)?</label>
                
                <input type="tel" name="" id="order_phone">

                <!-- <label data-lang="cart_10" for="address">Your Address(Optional)</label>
                
                <input 
                type="text" name="" id="order_address">

                <select 
                style="font-size: 20px;padding: 10px;"
                id="address" class="hide">

                </select>

                <div style="display: flex;flex-direction: column;" class="state_city_zip">
                    <label data-lang="cart_11" for="address">Your Province(Optional)</label>
                
                    <input  id="order_state" type="text">

                    <label data-lang="cart_12" for="address">Your Country(Optional)</label>
                    <input id="order_country" type="text">

                    <label data-lang="cart_13" for="address">Your Zip Code(Optional)</label>
                    <input id="order_zip_code"  type="number">
                </div>

                <label data-lang="cart_14" for="address">Your Road(Optional)</label>
                <input id="order_road" type="text">

                <div style="display: flex;flex-direction: column;" class="state_city_zip">
                    <label data-lang="cart_15" for="address">Your Village(Optional)</label>
                    <input id="order_village" type="text">
                    <label data-lang="cart_16" for="address">Your Leisure(Optional)</label>
                    <input id="order_leisure" type="text">
                    
                </div>
 -->



            </form>

            <!-- <button data-lang="cart_17" id="auto_fill_btn" style="color: #fff;background-color: #000;outline: none;border: none;padding: 4px;width: 100%;font-size: 18px;display: flex;justify-content: center;align-items: center;">Fill Most Of Info Automatically</button>
            <small data-lang="cart_18" style="text-align: center;font-size: 15px;">Turn On Location!</small>
            <small data-lang="cart_19" style="text-align: center;font-size: 15px;">This Sevice May Not Working Well In The Future</small>
            <small data-lang="cart_20" style="text-align: center;font-size: 15px;">If This Happen You Need To Fill Your Info Manually</small> -->

            <!-- <p data-lang="cart_21" class="mt-5" style="text-align: center;border-bottom: 1px solid gray;font-size: 18px;">Choose Payment Method</p> -->

            <button data-lang="cart_22" data-bs-toggle="modal" data-bs-target="#book_order_modal" class="mt-5" id="book_a_food" style="color: #fff;background-color: #000;outline: none;border: none;padding: 10px;width: 100%;font-size: 18px;display: flex;justify-content: center;align-items: center;">BOOK AN ORDER & TAKEAWAY FROM OUR PLACE</button>

            <!-- <button style="outline: none;border: none;background-color: ;" class="mt-3">Calculate Delivery Cost</button>
            <small style="text-align: center;">
            DELIVERY COST WILL BE ADDED AUTOMATICALLY TO YOUR TOTAL COST
            </small> -->

            <!-- <button  id="pay-button" class="mt-5" id="auto_fill_btn" style="color: #fff;background-color: #000;outline: none;border: none;padding: 10px;width: 100%;font-size: 18px;display: flex;justify-content: center;align-items: center;">DANA,VIRTUAL ACCOUNT AND MORE..</button> -->

        </div>
    </div>
</div>



</div>

<!-- extra payment method -->
<div class="modal fade" id="book_order_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
         
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
         <h1 data-lang="cart_23" style="text-align: center;margin-bottom: 10px;">OUR PLACE:</h1>
         <p style="text-align: center;padding: 10px;background-color: #000;font-size: 20px;color: #fff;">
            Jalan Lidah Wetan Gang V No. 43, RT 04 RW 02, Lidah Wetan, Lakarsantri, Surabaya, East Java, Java, 60213, Indonesia
        </p>
          <form style="display: flex;justify-content: center;align-items: center;padding: 20px;flex-direction: column;gap: 20px;font-size: 20px;">
            <label data-lang="cart_24" style="text-align: center;" for="book_food_date">YOU WANT US TO PREPARE YOUR FOOD AT?</label>
            <input type="date" id="book_food_date">

            <label data-lang="cart_25" style="text-align: center;" for="book_food_time">YOU WILL COME TO TAKE YOUR FOOD AT WHAT TIME?</label>

            <input type="time" id="book_food_time">

           

            <button data-lang="cart_26" id="pay-button_book" class="mt-5" id="auto_fill_btn" style="color: #fff;background-color: #000;outline: none;border: none;padding: 10px;width: 100%;font-size: 18px;display: flex;justify-content: center;align-items: center;">
                <!-- PAY WITH DANA,VIRTUAL ACCOUNT AND MORE.. -->
                BOOK YOUR ORDER AND PAY WHEN YOU TAKE IT FROM OUR PLACE
            </button>

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@simondmc/popup-js@1.4.3/popup.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.8/axios.min.js" integrity="sha512-PJa3oQSLWRB7wHZ7GQ/g+qyv6r4mbuhmiDb8BjSFZ8NZ2a42oTtAq5n0ucWAwcQDlikAtkub+tPVCw4np27WCg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="./js/cart.js"></script>

</body>

</html>
